<h2>Editar Musica</h2>
<div class="container my-5">
        <form [formGroup]="editMusicForm" (ngSubmit)="[editMusicWhitImage(editMusicForm.value), closeModal()]">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
                <small id="textHelp" class="form-text text-muted">El nombre es obligatorio</small>
            </div>
            <div class="form-group">
                <label>Album</label>
                <input type="text" class="form-control" placeholder="Album" formControlName="album">
            </div>

            <div class="form-group">
                <label for="">Youtube</label>
                <input type="text" class="form-control" placeholder="Youtube" formControlName="youtubeUrl">
            </div>
            <div class="form-group">
                <label>Spotify</label>
                <input type="text" class="form-control" placeholder="Spotify" formControlName="spotifyUrl">
            </div>
            <div class="form-group">
                <label for="">Deezer</label>
                <input type="text" class="form-control" placeholder="Deezer" formControlName="deezerUrl">
            </div>
            <div class="form-group">
                <label for="">Apple</label>
                <input type="text" class="form-control" placeholder="Apple" formControlName="appleMusicUrl">
            </div>
            <div class="form-group">
                <label for="">Google Play</label>
                <input type="text" class="form-control" placeholder="Google Play" formControlName="googlePlayUrl">
            </div>
            <div class="form-group">
                <label for="">Amazon Music</label>
                <input type="text" class="form-control" placeholder="Amazon Music" formControlName="amazonMusicUrl">
            </div>
            <div class="form-group">
                <label for="">Sound Cloud</label>
                <input type="text" class="form-control" placeholder="Sound Cloud" formControlName="soundCloudUrl">
            </div>
            
            <div>
                <label for="">Image</label>
                <input type="file" formControlName="image" (change)="handleImage($event)">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Editar</button>
        </form>
    </div>