<!--HOME-->
<header id="home-section">
        <div class="main-header text-white" [style.backgroundSize]="'cover'" style="background: url(https://firebasestorage.googleapis.com/v0/b/boxmusicproyect.appspot.com/o/home-images%2Fmarcela-laskoski-YrtFlrLo2DQ-unsplash.jpg?alt=media&token=fdb214b0-f374-4be9-b20a-accf4e3146a8) no-repeat">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 text-center justify-content-center align-self-center">
                <h1 class="mt-5">Checkout my new album!</h1>
                <p>Album is coming on october 31...</p>
                <a href="#" class="btn btn-outline-primary btn-md text-white">See More</a>
              </div>
              <div class="col-lg-6 text-center justify-content-center align-self-center">
                <img src="https://png.pngtree.com/element_our/png_detail/20181022/music-and-live-music-logo-with-neon-light-effect-vector-png_199406.jpg" alt="music is life logo" class="img-fluid mt-5 img-slogan" class="img2">
              </div>
            </div>
          </div>
        </div>    
      </header>

      <app-newsletter>
          
      </app-newsletter>